#lobby_music_toggle {
    position: relative;

    user-select: none;
    width: 7lh;
    height: 3lh;
}

#lobby_music_toggle .music_button {
    position: absolute;
    pointer-events: none;
    user-select: none;
    top: -3.4lh;
    left: -1.5lh;
    transition: opacity 0.3s ease;
}
#lobby_music_toggle .music_button:not(.active) {opacity: 0;}

#volumeSlider {transition: opacity 0.3s ease;user-select: none;}
#volumeSlider:not(.active) {opacity: 0;pointer-events: none;user-select: none;}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: transparent;
    cursor: ew-resize;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    max-width: 20lh;
    height: 10px;
    background: white;
    border: 3px solid black;
    border-radius: 4px;
}

input[type="range"]::-moz-range-track {
    width: 20lh;
    height: 10px;
    background: white;
    border: 3px solid black;
    border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -8px;
    height: 20px;
    width: 10px;
    background: white;
    border: 3px solid black;
    border-radius:25%;
}

