html.js-cursor-active,
html.js-cursor-active * {
    cursor: none !important;
}


#custom-cursor {
    position: fixed;
    width: 32px;
    height: 32px;
    pointer-events: none;
    z-index: 99999;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/assets/elements/sunset_web_elements_025.png'); /* Imagen por defecto */
    transform: translate(-10%, -10%);
    transition: background-image 0.1s;
    display: none; 
}

html.js-cursor-active #custom-cursor {
    display: block;
}

a, button, .btn, .clickable {
    cursor: pointer;
}