html {
    font-size: 100%; /* Configuración estándar para otros dispositivos */
	background-color: #08070e;
	color: rgb(151, 248, 144);
}

h1 {
	font-size: 400%;
	font-style: italic;
	font-weight: bolder;
	background: linear-gradient(to right, #beb5f5, #f38c8c);
	color: #08070e;
}

h2 {
	font-size: 200%;
	font-style: italic;
	font-weight: bolder;
	background: linear-gradient(to right, #beb5f5, #f38c8c);
	color: #08070e;
}

[id="watermark"] {
	font-size: 70%;
	margin-top: -49px;
	margin-left: 30px;
	color: #08070e;
}


body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 5;
    padding: 5;
}

