body {
    background-color: #232634;
    padding: 2lh;
    color: #c6d0f5;
    font-size: larger;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;

    margin-inline-start: auto;
    margin-inline-end: auto;
    max-width: 60lh;
}

h1 {
    font-size: 5lh;
    margin-top: -0.1lh;
    margin-bottom: -0.3lh;
    color: #e78284;
    line-height: 70%;
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
    filter: drop-shadow(5px 5px 0px rgba(0,0,0,0.5));
    text-align: center;
}

  
strong {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: normal;
}
    
a {
    color: #e5c890;
    text-decoration:  underline wavy;
}

article {
    margin-inline-start: auto;
    margin-inline-end: auto;
}

hr {
    border: none; 

    background-image: url(/assets/elements/sunset_web_elements_012.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;

    margin-top: 1.5lh;
    margin-bottom: 1.5lh;

    height: 4lh;
    max-width: 30lh;
    min-width: 20lh;

}

button {
  border: 0;
  cursor: pointer;
  background-color: #00000000;
}

button img {
  max-width: 10lh;
  max-height: 10lh;
}

/* Configuraciones particulares para clases simples*/

.onClickSFX-back {cursor: pointer;}
.onClickSFX-move {cursor: pointer;}
.onClickSFX-error {cursor: pointer;}
.onClickSFX-select {cursor: pointer;}